    
     <div class="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                           <li><%= link_to "Consultations", consultations_path %></li>
                            <li><%= link_to "Reviews", reviews_path %></li>

                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>A Propos</h3>
                        <ul>
                            <li><%= link_to "Login", new_user_session_path %></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Psycho Inc</h3>
                        <p>Blablablbalba</p>
                    </div>
                </div>
                <p class="copyright">Alexorciste © 2021</p>
            <div class="col item social"></a><a href="https://github.com/alexorciste"><i class="fab fa-github"></i></i></a></div>
            </div>
        </footer>
    </div>   