<h1>Categories</h1>

<div class = "container">
    <div class="cards">
      <% @categories.each do |category| %>
      <%#affiche uniquement les maisons du proprio <% if specialist.user == current_user %>
      <div class="cardbox1">
          <div class="card1">
          <% if category.photo.attached? %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key, height: 300, width: 400, crop: :fill %>')">
                <div>
                  <p><%= link_to category.name, category_path(category) %></p>
                </div>
           </div>

            <div class="cardfoot1">
            <h2>  <%= category.name %> </h2>
            <p> <%= category.description %></p>
          </div>
        </div>

    </div>
        <% end %>
      <% end %>


      


</div>

</div>