<h1>Reviews#index</h1>




<div id="reviews"> 
<% @reviews.each do |review| %>
   
<% if review.photo.attached? %>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path review.photo.key, height: 300, width: 400, crop: :fill %>')">
</div>            
    <%# </div> %>
<% end %>
<div class="review-content">
  <p><%= review.content %></p>
      <p><%= review.rating %></p>
      <p><%= review.user.email %></p>
  <% end %>
<div>
  </div>
